*{
	font-family: verdana, geneva, sans-serif;
	font-size: 12px;
	background:rgba(0,0,0,0);
	margin: 0;
	top: 0;
}
#mark{
	font-size: 250%;
	color: black;
	

}

#class menu {
			color:blue;
		    margin: 0;
		    padding:0;
}
 
li {
	list-style: none; 
	margin: 10px;
	display: inline;
}

li a {
		   	padding: 10px 15px; 
		    background: rgba(208,4,60,255);			;
		    text-decoration: none;
		    color:#FFF;
		    /* cantos arredondados */
		    -webkit-border-radius:20px;
		    -moz-border-radius:15px;
		    border-radius:15px;
		    position: relative;
		    left: 300px;
			top: 70px;
}
li a:hover {
		    background:#dc595f;
		    color: white; 
		    border-color: #000;

}


p{
			color: black;
			font-size: 18px;
}


#conta{
		
		border-style: solid;
  		border-color:#9aa49c;
  		padding: 10px 25px;

}

div.img{
			position: absolute;
			left: 50px;
			top: 25px;
		
			

}

div.container{
	position: absolute;
	left: 50px;
	top: 250px;
}



.link2{
	text-decoration: none;
	font-size: 40px;
	color: rgba(208,4,60,255);
}

.link2:hover{
	color: black;
}

.cont{
	width: 22%;
    display: inline-block;
    margin: 20px;
   
}

div.texto{
	margin: 20px;
	text-align: center;
}

.info{
	margin: 150px;
	font-size: 50px;
	text-align: center;
}